body {
    background-color: #EAF6F6;
}
hr {
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    height: 1px;
}
h1, h2, h3 {
    color: #66bfbf;
}